### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
/MP5_aurewhite.zip
/container/RectangularContainer.java
/bank/Account.java
/bank/AccountDemo.java
/bank/CheckingAccount.java
/container/CircularContainer.java
/container/Container.java
/container/ContainerDemo.java
/container/RegularPolygonContainer.java
/bank/SavingAccount.java
/container/TriangularContainer.java
